* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color-primary: #F1F5F1;
    --text-color-secondary: #CBD5E1;


    --font-primary: "Archivo", sans-serif;
    --h1: 800 24px/135% var(--font-primary);
    --h2: 800 16px/140% var(--font-primary);
    --h3: 800 14px/140% var(--font-primary);
    --text-sm: 600 14px/145% var(--font-primary);
    --text: 400 14px/160% var(--font-primary);   
}

.cinzel-decorative-regular {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cinzel-decorative-bold {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cinzel-decorative-black {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    font-style: normal;
  }


.bellefair-regular {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}
