.main1home {
    height: 1040px;
    background-image: url(assets/Wallpaper\ main1.png);
    background-size: cover;
  }
  
  #mainh1home {
    color: #0E0E0E;
    padding-left: 1180px;
    padding-top: 550px;
  }

.main2home {
    background-image: url(assets/Wallpaper\ main2.png);
    background-size: cover;
    height: 1040px;
    padding: 80px;
}

#main2divhome {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;
    margin-left: 1040px;
    height: 600px;
    width: 500px;
}

#main2h1home {
  color: #CAC6AD;
  font-size: 50px;
  margin-bottom: 30px;
  
}
  

#main2phome {
  color: #ffffff;
  font-size: 20px;
}