.main1home {
    height: 1040px;
    background-image: url(assets/Wallpaper\ main1.png);
    background-size: cover;
  }
  
  #mainh1home {
    color: #0E0E0E;
    padding-left: 1180px;
    padding-top: 550px;
  }

.main2home {
    background-image: url(assets/Wallpaper\ main2.png);
    background-size: cover;
    height: 1040px;
    padding: 80px;
}

#main2divhome {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;
    margin-left: 1040px;
    height: 600px;
    width: 500px;
}

#main2h1home {
  color: #CAC6AD;
  font-size: 50px;
  margin-bottom: 30px;
  
}
  

#main2phome {
  color: #ffffff;
  font-size: 20px;
}


#main1rpve {
    height: 895px;
    background-image: url(assets/rpve/BG.jpg);
    background-size: cover;
}

#main1rpve {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.item {
  height: 550px;
  width: 420px;
  background-color: rgba(0, 0, 0, 0.658);
  color: #ffffff;
  text-align: center;
  border-radius: 12px;
  transition: .35s;
  cursor: pointer;
}

.containerrpve:hover > :not(:hover){
  opacity: .4;
  transform: scale(0.9);
}

.item h1 {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 30px;
}

.item p {
  font-size: 22px;
  margin-left: 20px;
  margin-right: 20px;
}

#mainrpve1p {
  margin-top: 70px;
}

#mainrpve2p {
  margin-top: 40px;
}

#mainrpve3p {
  margin-top: 28px;
}